@import "tailwindcss";

@theme {
  --color-brand-bg: #E8C5A5;
  --color-brand-surface: #C5B5A6;
  --color-brand-surface-secondary: #C5AC94;
  --color-brand-text: #040202;
  --color-brand-text-muted: #591F0B;
  --color-brand-border: #C6A988;
  --color-brand-primary: #794022;
  --color-brand-primary-hover: #6B372B;
  --color-brand-secondary: #DEAC76;
  --color-brand-accent: #D99937;
  --color-brand-link: #B57537;
}

@layer base {
  body {
    @apply bg-gray-50 text-gray-900 antialiased;
  }
}
